$pink:#e607fa;
$blue:#09eaf8;

img {
    max-height: 150px;
    border: 5px solid $pink;
    border-radius: 7px;
    box-shadow: 0px 1px 25px #e607fa;
}

.divPerfil {
    color:$pink;
    
}
.divImg{
    float:left;
    
}
.divInfo {
    box-shadow: 0px 1px 25px #e607fa;
    float:right;
    border: 5px solid $pink;
    border-radius: 7px;
    input {
        border-radius: 0;
        border:0;
        border-bottom: 1px $blue solid;
        background-color:black;
        color: $blue; 
        &:focus {
            outline: none !important;
        } 
    }
}