<div class="container">
    <h2>Contacto</h2>
    <form action="" name="contactoForm">
        <label for="nombre"><p>Nombre:</p></label>
        <input type="text" name="nombre">
        <br>
        <label for="email"><p>Email:</p></label>
        <input type="email" name="email">
        <br>
        <label for="asunto"><p>Asunto:</p></label>
        <input type="text" name="asunto">
        <br>
        <label for="mensaje"><p>Mensaje:</p></label>
        <textarea name="mensaje" rows="4" cols="50"></textarea>
        <br>
        <input type="button" name="enviar" value="Enviar" class="btn btn-primary">
    </form>
</div>