<div class="categoriaDetalleContainer" *ngFor="let categoria of categoria">
    <div class="iconoCategoriaDetalle">
        <img src="../../../assets/img/logoCategorias/{{categoria.nombre}}.png" class="iconoCategoriaDetalle">
    </div>
    <div class="categoriaDetalleDiv">
        <h2 class="tituloCategoriaDetalle">{{categoria.nombre}}</h2>
        <p class="descripcionCategoriaDetalle">{{categoria.descripcion}}</p>
    </div>
</div>