$blue:#09eaf8;
$pink:#e607fa;
.footer {
    height: 120px;
    width: 100%;
    background-color:black;
    color: $blue;
}
.rrss{
    position: relative;
    text-align: center;
}
.fab {
    margin: 20px;
    text-align: center;
}
.links {
    text-align: center;
    a, i {
        margin: 20px;
        text-decoration: none;
        color: $blue;
        transition: color 0.3s ease;

        &:hover {
            color: $pink;
            cursor: pointer;
        }
    }
}
i {
    &:hover {
        color: $pink;
        cursor: pointer;
    }
}