.footer {
  height: 120px;
  width: 100%;
  background-color: darkgrey;
  color: #09eaf8;
}

.rrss {
  position: relative;
  text-align: center;
}

.fab {
  margin: 20px;
  text-align: center;
}

.links {
  text-align: center;
}

.links a {
  margin: 20px;
}
/*# sourceMappingURL=footer.component.css.map */