<div class="col-md-12 footer">
    <div class="row">
        <div class="col-md-12  rrss">
            <a><i class="fab fa-facebook"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 links">
            <a [routerLink]="['/contacto']">CONTACTO</a>
            <a >TÉRMINOS DE USO</a>
            <a>PRIVACIDAD</a>
            <a>COOKIES</a>
        </div>
    </div>
</div>

