<div class="modal-header">
  <h4 class="modal-title">REGISTRO</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span class="cerrar" aria-hidden="true">&times;</span>
  </button>
</div>
<form>
  <div class="modal-body">
    <form name="editForm" (ngSubmit)="save()" [formGroup]="editForm" >
      <div class="sign-up-nav" [class.active-company]="isCompany">
        <span
          class="user-type"
          [class.active]="!isCompany"
          (click)="setCompany(false)"
          >JUGADOR</span
        >
        <span
          class="user-type"
          [class.active]="isCompany"
          (click)="setCompany(true)"
          >EMPRESA</span
        >
      </div>
      <div class="form-container">
        <div *ngIf="!isCompany">
          <!-- Formulario jugador -->
          <div class="form-group">
            <label class="form-control-label" for="username">Usuario</label>
            <input type="text" class="form-control" name="username" id="username"
                   formControlName="username" placeholder="Introduce tu usuario"/>
            <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('username')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password"
                   formControlName="password" placeholder="Introduce tu contraseña"/>
            <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('password')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"
                   formControlName="email" placeholder="Introduce tu correo"/>
            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('email')?.errors?.required">
                Campo requerido
                </small>
            </div>
            
        </div>

        </div>
        <div *ngIf="isCompany">
          <!-- Formulario Empresa -->
          <div class="form-group">
            <label class="form-control-label" for="username">Usuario</label>
            <input type="text" class="form-control" name="username" id="username"
                   formControlName="username" placeholder="Introduce tu usuario"/>
            <div *ngIf="editForm.get('username')!.invalid && (editForm.get('username')!.dirty || editForm.get('username')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('username')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password"
                   formControlName="password" placeholder="Introduce tu contraseña"/>
            <div *ngIf="editForm.get('password')!.invalid && (editForm.get('password')!.dirty || editForm.get('password')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('password')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email"
                   formControlName="email" placeholder="Introduce tu correo"/>
            <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('email')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="nombre"
                   formControlName="nombre" placeholder="Introduce tu nombre"/>
            <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('nombre')?.errors?.required">
                Campo requerido
                </small>
            </div>
            
            <label class="form-control-label" for="cif">CIF</label>
            <input type="text" class="form-control" name="cif" id="cif"
                   formControlName="cif" placeholder="Introduce tu CIF"/>
            <div *ngIf="editForm.get('cif')!.invalid && (editForm.get('cif')!.dirty || editForm.get('cif')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('cif')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="direccion">Dirección</label>
            <input type="text" class="form-control" name="direccion" id="direccion"
                   formControlName="direccion" placeholder="Introduce tu dirección"/>
            <div *ngIf="editForm.get('direccion')!.invalid && (editForm.get('direccion')!.dirty || editForm.get('direccion')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('direccion')?.errors?.required">
                Campo requerido
                </small>
            </div> 

            <label class="form-control-label" for="poblacion">Población</label>
            <input type="text" class="form-control" name="poblacion" id="poblacion"
                   formControlName="poblacion" placeholder="Introduce tu población"/>
            <div *ngIf="editForm.get('poblacion')!.invalid && (editForm.get('poblacion')!.dirty || editForm.get('poblacion')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('poblacion')?.errors?.required">
                Campo requerido
                </small>
            </div> 

            <label class="form-control-label" for="telf">Teléfono</label>
            <input type="number" class="form-control" name="telf" id="telf"
                   formControlName="telf" placeholder="Introduce tu teléfono"/>
            <div *ngIf="editForm.get('telf')!.invalid && (editForm.get('telf')!.dirty || editForm.get('telf')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('telf')?.errors?.required">
                Campo requerido
                </small>
            </div>

            <label class="form-control-label" for="nacimiento">Fecha de nacimiento</label>
            <input type="date" class="form-control" name="nacimiento" id="nacimiento"
                   formControlName="nacimiento" placeholder="Introduce tu fecha de nacimiento"/>
            <div *ngIf="editForm.get('nacimiento')!.invalid && (editForm.get('nacimiento')!.dirty || editForm.get('nacimiento')!.touched)">
                <small class="form-text text-danger"
                       *ngIf="editForm.get('nacimiento')?.errors?.required">
                Campo requerido
                </small>
            </div>

        </div>
        </div>
      </div>
      
      <button class="registerButton">REGISTRATE</button>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</form>
