<!--
<ul *ngFor="let juego of juegos">
    <li><a [routerLink]="['/juegos', categoria.id]">{{categoria.nombre}}</a></li>
    <li><img src="../../../assets/img/logoGames/{{juego.imagen}}" class="logo"></li>
    <li><h3>{{juego.nombre}}</h3></li>
    <hr class="lineaDivisora">
</ul>
-->

<script src="../../../assets/js/leermas.js"></script>
<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let juego of juegos">
            <div class="divJuegos borde" id="status">
                <img src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" class="logo">
                <h3 class="nombre">{{juego.nombre}}</h3>
                <button type="button" class="btn btn-success botonJugar">Jugar</button>
                <hr class="lineaHorizontal">
                <h5 class="descripcion">Descripcion</h5>
                <p>{{juego.descripcion}}</p>
                <button type="button" class="btn btn-primary botonLeerMas">Leer más</button>
            </div>
        </div>
    </div>
</div>

<!---->
<!--Bootstrap cards-->
<!--
<div class="container">
    <div class="card-columns">
        <div class="card borde" style="width: 300px;" *ngFor="let juego of juegos">
            <img class="card-img-top" src="../../../assets/img/logoGames/{{juego.nombre_archivo}}.jpg" class="logo" alt="foto">
            <div class="card-header">
                <h3>{{juego.nombre}}</h3>
                //<a [routerLink]="['/juego', juego.id]"><h2 class="text-primary"></h2>{{juego.nombre}}</h2></a>//
            </div>
            <div class="card-body">
                <p>Lorem Ipsum</p>
            </div>
        </div>
    </div>
</div>
-->
