h3 {
  color: #e607fa;
  text-shadow: 0 0 10px #e607fa, 0 0 20px #e607fa, 0 0 30px #e607fa, 0 0 40px #e607fa;
}

p {
  color: #09eaf8;
}

.lineaDivisora {
  border-color: #09eaf8;
}

.logo {
  width: 100%;
  height: 150px;
}

.divJuegos {
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px #e607fa, 0 0 5px #e607fa, 0 0 5px #e607fa, 0 0 5px #e607fa;
          box-shadow: 0 0 5px #e607fa, 0 0 5px #e607fa, 0 0 5px #e607fa, 0 0 5px #e607fa;
  height: 370px;
  float: left;
  border-radius: 5px;
  border-style: groove;
  border-width: 1px;
  border-color: #e607fa;
  margin-top: 20px;
}

.botonJugar {
  margin-left: 130px;
}

.botonLeerMas {
  position: absolute;
  top: 94%;
  left: 36%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nombre {
  text-align: center;
}

.lineaHorizontal {
  border-top: 1px solid #e607fa;
}

.descripcion {
  color: #09eaf8;
}
/*# sourceMappingURL=lista-juegos.component.css.map */